
.About-section h3 {
  background-color: rgb(206, 110, 32);
  color: #eee;
}

.About-section .container .row h2 {
  /* font-size: 42px; */
  word-spacing: 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~MEDIA QUERY~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*@media (max-width:575.98px) */
@media (max-width: 575.98px) {
  .About-section h1 {
    font-size: 20px;
    margin-left: -180px;
    margin-top: -60px;
  }
  .About-section .container .row h2 {
    font-size: 25px;
    margin-top: -10px;
    margin-top: 10px;
    text-align: center;
  }
  .About-section .container .row p {
    font-size: 15px;
    text-align: center;
    margin-top: -10px;
    margin-top: 10px;
  }
}